body { 
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

textarea:focus, input:focus{
   	outline: 0;
}

*:focus {
    outline: 0;
}

input {
	font-size: 2.5em;
	background: transparent;
    border: none;
}

* {
	border: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

form {
	margin-bottom: 30px;
}

body {
	margin-bottom: 100px;
}